body {
  background-color: #09001b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.calculator {
  width: 400px;
  background: linear-gradient(to bottom left, #325174, #162137);
  padding: 20px;
  border-radius: 20px;
}

.displayInput {
  display: flex;
  justify-content: center;
}

.displayInput input {
  border: 2px solid black;
  color: black;
  font-size: 30px;
  width: 100%;
  text-align: right;
  padding: 10px;
  border-radius: 20px;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
  margin-top: 20px;
}

.buttonsContainer button {
  font-size: 22px;
  background-color: #09001b;
  color: white;
  height: 4em;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttonsContainer button:hover {
  border-radius: 30px;
}

.specialBtn {
  background: linear-gradient(to bottom right, #fd9c75, #ff6776);
}

#gridSpanner {
  grid-column: span 2;
}

@media screen and (max-width: 500px) {
  .calculator {
    width: 300px;
  }

  .buttonsContainer button {
    height: 3em;
  }
}

@media screen and (max-width: 400px) {
  .calculator {
    width: 200px;
  }

  .buttonsContainer button {
    height: 2em;
    font-size: 19px;
  }
}